@model DSW_JARDINERIA.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Productoes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodigoProducto" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gama" class="control-label"></label>
                <select asp-for="Gama" class="form-control" asp-items="ViewBag.Gama"></select>
                <span asp-validation-for="Gama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dimensiones" class="control-label"></label>
                <input asp-for="Dimensiones" class="form-control" />
                <span asp-validation-for="Dimensiones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proveedor" class="control-label"></label>
                <input asp-for="Proveedor" class="form-control" />
                <span asp-validation-for="Proveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadEnStock" class="control-label"></label>
                <input asp-for="CantidadEnStock" class="form-control" />
                <span asp-validation-for="CantidadEnStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioVenta" class="control-label"></label>
                <input asp-for="PrecioVenta" class="form-control" />
                <span asp-validation-for="PrecioVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioProveedor" class="control-label"></label>
                <input asp-for="PrecioProveedor" class="form-control" />
                <span asp-validation-for="PrecioProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
